[defaults]
inventory           = ansible/inventory/hosts.ini ;no need to -i;
roles_path          = ansible/roles ;path of the roles;
vault_password_file = .vault_pass ;where the password of the vault.yml is;

[ssh_connection]
pipelining          = True ;only one connection ssh;